<a href="https://colab.research.google.com/github/HMalli1205/CodingSessions/blob/main/Assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Write a python program to loop through all the elements in a list.
list_1=[1,2,3,4,5,6]
for elements in list_1:
  print(elements)

1
2
3
4
5
6

In [ ]:
#3. Write a python program to remove all the odd indexed values and only even indexed values should remain
list_2=[1,2,3,4,5,'a','b','c']
even_ind_val=[]
for x in range(0,len(list_2)):
  if x%2==0:
    even_ind_val.append(list_2[x])
print(even_ind_val)

[1, 3, 5, 'b']

In [ ]:
#10.Write a python program to reverse a given list.
list_3=[1,2,3,4,5]
lst_rev=[]
for x in range(-1,(-len(list_3)-1),-1):
  lst_rev.append(list_3[x])
print(lst_rev)

[5, 4, 3, 2, 1]

In [ ]:
#9.Write a python program to count integers in a given mixed list.
list_4=['1','2','3','a','b','c','4','5','d']         #since int object has no attribute isdigit(),we write int values as string values
int_list=[]
for y in list_4:
  if y.isdigit():
    int_list.append(y)
print(len(int_list))

5

In [ ]:
#11.Write a python program to constuct a given string to a tuple
str_1=input("Enter a string:") #packing
x,*y=str_1  #unpacking
emp_list=()
str_to_tup=emp_list+(x,y)
print(str_to_tup)

Enter a string:malli@hyd2003
('m', ['a', 'l', 'l', 'i', '@', 'h', 'y', 'd', '2', '0', '0', '3'])

In [ ]:
#6.
list_5=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
new_list=[]
for x in range(0,len(list_5)):
  if x!=0 and x!=4 and x!=5:   #we use 'and' operator because we want no elements in 0th,4th,5th indices at all.If we use 'or' operator, the other two conditions are satisified.
    new_list.append(list_5[x])
print(new_list)

['Green', 'White', 'Black']

In [ ]:
#4. Write a python program to compute the sum and product of all the elements in a list.
list_6=[1,2,3,4,5,6,7,8,9,10]
x=0
sum=0
product=1
while x<len(list_6):
  sum=sum+list_6[x]
  product=product*list_6[x]
  x=x+1
print("The sum of elements in the list is:",sum)
print("The product of elements in the list is:",product)

The sum of elements in the list is: 55
The product of elements in the list is: 3628800

In [ ]:
#2.Write a python program where you will ask the users to insert elements in a list.
y=0
lst=[]
while y<=5:
  elmt=str(input("Enter an element: "))    #str contructor can convert any datatype(like complex,float,int) to string itself
  lst.insert(y,elmt)                       #using insert() method, we can add a new element to the list at the given index value i.e insert(index_value,element).
  y=y+1                                    #we just ask for elements, the index values are given by default from 0(since we created and empty list)
print("List with the entered elements: ",lst)                          #because list are ordered and follow and order of insertion.

Enter an element: 1
Enter an element: a
Enter an element: 2+1j
Enter an element: bb
Enter an element: [100,200,'msds']
Enter an element: (3,4,5)
List with the entered elements:  ['1', 'a', '2+1j', 'bb', "[100,200,'msds']", '(3,4,5)']

In [ ]:
#8.Write a python program to compute average of a given list
list_7=[1,2,3,4,5,6]
x=0
sum=0
while x<len(list_7):
  sum=sum+list_7[x]
  x=x+1
print("Average of the elements in list is {}".format(sum/len(list_7)))

Average of the elements in list is 3.5

In [ ]:
#7.Write a python program to convert a list of characters into a string.
list_8=['m','a','l','l','i','@','h','y','d',2,0,0,3]
str_8=''
for y in list_8:
  str_8=str_8+str(y)
print("String obtained from given list: ",str_8)

String obtained from given list:  malli@hyd2003

In [ ]:
#5.
lst1=[10,41,32,21]
x=0
y=x-1
while x<len(lst1):
  for a in lst1:
    if a>lst1[x] and a>lst[y]:
      print(a)
  x=x+1

41
32
41
41
32