<a href="https://colab.research.google.com/github/HMalli1205/CodingSessions/blob/main/Assignment6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#a.
a=1
y=1
while y<=5:
  print(str(y)*a)
  y=y+1
  a=a+1

1
22
333
4444
55555

In [ ]:
#b.
for y in range(1,2):
  for z in range(1,2):
    print(z)
  for a in range(1,3):
    print(a,end=' ')
  print()
  for b in range(1,4):
    print(b,end=' ')
  print()
  for c in range(1,5):
    print(c,end=' ')
  print(end='\n')
  for d in range(1,6):
    print(d,end=' ')
  #the number of rows are beacuse we are using the print() and number of columns is because we are using the print(end=' ')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# or b)
x=2
while x<=6:
  for y in range(1,x):
    print(y,end=' ')
  x=x+1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#c.
a=5
for y in range(1,2):
  while y<=6:
    print(str(y)*a)
    y=y+1
    a=a-1

11111
2222
333
44
5

In [ ]:
#d.
for y in range(1,2):
  for z in range(5,6):
    print(z,z,z,z,z,end=' ')
    print()
    print(z,z,z,z,end=' ')
    print()
    print(z,z,z,end=' ')
    print()
    print(z,z,end=' ')
    print()
    print(z)

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [ ]:
# or d)
x=5
a=5
for x in range(5,6):
  while a>=1:
    print(str(x)*a)
    a=a-1

55555
5555
555
55
5

In [ ]:
#e.
x=6
while x>=2:
  for y in range(0,x):
    print(y,end=' ')
  print(end='\n')
  x=x-1

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [ ]:
#f.
y=1
for x in range(1,2):
  while x<=9:
    print(str(x)*y)
    x=x+2
    y=y+1

1
33
555
7777
99999

In [ ]:
#g.
for y in range(1,2):
  for z in range(5,6):
    print(z,z,z,z,z)
  for a in range(4,5):
    print(a,a,a,a,end=' ')
  print()
  for b in range(3,4):
    print(b,b,b,end=' ')
  print()
  for c in [2]:
    print(c,c,end=' ')
  print()
  for d in range(1,2):
    print(d,end=' ')

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
# or g)
x=5
a=5
while x>=1:
  print(str(x)*a)
  x=x-1
  a=a-1

55555
4444
333
22
1

In [ ]:
#h.
for y in range(1,2):
  for a in [1]:
    print(a)
  for b in [2,1]:
    print(b,end=' ')
  print()
  for c in [3,2,1]:
    print(c,end=' ')
  print()
  for d in [4,3,2,1]:
    print(d,end=' ')
  print()
  for e in [5,4,3,2,1]:
    print(e,end=' ')

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
# or h)
x=1
while x<=5:
  for y in range(x,0,-1):
    print(y,end=' ')
  print()
  x=x+1

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
#i.
x=5
while x>=1:
  for y in range(x,0,-1):
    print(y,end=' ')
  print()
  x=x-1

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#j.
for x in range(1,2):
  for a in [1]:
    print(a)
  for b in range(3,1,-1):
    print(b,end=' ')
  print()
  for c in range(6,3,-1):
    print(c,end=' ')
  print()
  for d in range(10,6,-1):
    print(d,end=' ')

1
3 2
6 5 4
10 9 8 7

In [ ]:
#or j)
a=1
b=0
c=2
d=1
while a<=10 and b<=6:         #in range(),when SV is greater than EV,it means we are using negative index, so use negative stepsize
  for x in range(a,b,-1):
    print(x,end=' ')
  print()
  a=a+c
  c=c+1
  b=b+d
  d=d+1

1
3 2
6 5 4
10 9 8 7

In [ ]:
#k.
for x in range(1,2):
  for a in ['','','','',1]:
    print(a,end=' ')
  print()
  for b in ['','','',1,2]:
    print(b,end=' ')
  print()
  for c in ['','',1,2,3]:
    print(c,end=' ')
  print()
  for d in ['',1,2,3,4]:
    print(d,end=' ')
  print()
  for e in range(1,6):
    print(e,end=' ')

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
# or k)
x=2
s=' '
t=5
while x<=6:
  for y in range(1,x):
    print(s*t,end=' ')
    print(y,end=' ')
  print()
  x=x+1
  t=t-1

      1
     1      2
    1     2     3
   1    2    3    4
  1   2   3   4   5

In [ ]:
#n.
for x in range(1,2):
  for a in [1]:
    print(a)
  for b in [1,2]:
    print(b*2,end=' ')
  print(end='\n')
  for c in [1,2,3]:
    print(c*3,end=' ')
  print()
  for d in range(1,5):
    print(d*4,end=' ')
  print()
  for e in range(1,6):
    print(e*5,end=' ')
  print()
  for f in range(1,7):
    print(f*6,end=' ')
  print()
  for g in range(1,8):
    print(g*7,end=' ')
  print()
  for h in range(8,72,8):
    print(h,end=' ')

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [ ]:
#or n)
x=1
while x<=8:
  for y in range(x,int((x**2)+1),int(x)):
    print(y,end=' ')
  print()
  x=x+1

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [ ]:
#o)
y='* '
for x in range(1,2):
  while x<=5:
    print(y*int(x))
    x=x+1

*
* *
* * *
* * * *
* * * * *

In [ ]:
#p)
y='* '
x=1
s=' '
t=10
while x<=5:
  print(s*t,end=' ')
  print(y*int(x))
  x=x+1
  t=t-2

           *
         * *
       * * *
     * * * *
   * * * * *

In [ ]:
#q)
y='* '
x=5
while x>=1:
  print(y*int(x))
  x=x-1

* * * * *
* * * *
* * *
* *
*

In [ ]:
#r)
y='* '
x=6
s=' '
t=0
while x>=1:
  print(y*int(x))
  print(s*t,end=' ')
  x=x-1
  t=t+1

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
#s)
y='* '
x=5
s=' '
t=0
while x>=1:
  print(s*t,end=' ')
  print(y*int(x))
  x=x-1
  t=t+2

 * * * * *
   * * * *
     * * *
       * *
         *

In [ ]:
#t)
y='* '
x=1
s=' '
t=7
while x<=7:
  print(s*t,end=' ')
  print(y*int(x))
  x=x+1
  t=t-1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *

In [53]:
#u)
y='* '
x=1
while x<=6:
  print(y*int(x))
  print()
  x=x+1
print()

b=6
while b>=1:
  print(y*int(b))
  print()
  b=b-1

*

* *

* * *

* * * *

* * * * *

* * * * * *


* * * * * *

* * * * *

* * * *

* * *

* *

*

In [54]:
#v)
y='* '
x=1
while x<=5:
  print(y*int(x))
  print()
  x=x+1
b=4
while b>=1:
  print(y*int(b))
  print()
  b=b-1

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [60]:
#w)
y='* '
x=1
w=' '
v=10
while x<=5:
  print(w*v,end=' ')
  print(y*int(x))
  x=x+1
  v=v-2
a=4
b=4
while a>=1:
  print(w*b,end=' ')
  print(y*int(a))
  a=a-1
  b=b+2

           *
         * *
       * * *
     * * * *
   * * * * *
     * * * *
       * * *
         * *
           *

In [117]:
#x)
y='* '
x=5
s=' '
t=0
while x>=1:
  print(s*(t+1),end=' ')
  print(y*int(x))
  x=x-1
  t=t+1
a=1
b=5
while a<=5:
  print(s*b,end=' ')
  print(y*int(a))
  a=a+1
  b=b-1

  * * * * *
   * * * *
    * * *
     * *
      *
      *
     * *
    * * *
   * * * *
  * * * * *

In [119]:
#y)

y='* '
x=1
s=' '
t=5
while x<=6:
  print(s*t,end=' ')
  print(y*int(x))
  x=x+1
  t=t-1
a=5
b=1
while a>=1:
  print(s*b,end=' ')
  print(y*int(a))
  a=a-1
  b=b+1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *